@import url('main_custom.css');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
 h1{font-size: 22px; margin-top: 15px;height: 30px !important;}
.bloque_body h3{margin-top: 15px;margin-bottom: 15px; font-size: 14px !important;}

.breadcrumb h1{font-size: 22px; margin-top: 15px !important;}
.breadcrumb h2{font-size: 20px; margin-top: 10px !important;}
.breadcrumb h3{font-size: 18px; margin-top: 15px !important;}
body{
  overflow-y: auto;
  color:#191919;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  background: #003C74 !important;
  line-height: 1;
}


/* FUENTES DE LETRAS*/
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-LightItalic.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}
/* FINAL FUENTES DE LETRAS*/
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="text"], select, textarea{
  font-size: 14px !important;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  background: url("../images/topbg.png");
  background-position: 0% 60%;
}
.m-width{
  width: 1650px;
  background: url("../images/bodybg.png");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: repeat !important;
}
.main_container{

}
.mt60{
  margin-top: 60px;
}
.mr5{
  margin-right: 5px !important; 
}
.ml5{
  margin-left: 5px !important; 
}
.header_container{
  width: 100%;
float: left;
height: 100px;
}
.header_container img{
  margin-top: 10px
}
.header_container hgroup,span,h1{
  margin-top: 20px;
}
#main_modulo{
  overflow: hidden;
  position: absolute;
  top: 148px;
  left: 20px;
  width: 1730px;
  cursor: move;
}
.logo{
  margin-left: 20px;
  position: fixed;
  width: 400px;
}
.logo img{
  width: 475px;
  float: left;
  margin-right: 15px;
}
.logo h1{font-size: 22px !important;}

#usr-top{
  width: 50%;
  padding: 10px;
  padding-right: 20px;
  margin: 10px 0;
  float: right;
  -webkit-text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.8);
  -moz-text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.8);
  -ms-text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.8);
  -o-text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.8);
  text-shadow: -1px 1px 3px rgba(255, 255, 255, 0.8);
}
#usr-top a{
  color: #55675F !important;
  padding: 0 !important;
}
#usr-top h4, h5{margin:0 !important;}
#usr-top span{
  float: right; display: block;
}
#usr-top img{
  float: right;
  width: 46px;
  border: 1px solid #fff;
  margin-right: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
#usr-top hgroup{
  float: right;
  text-align: right;
}
.usr_lognombre{
  float: right;
}
.sys_fechatop{
  float: right;
}
.logout {
  width: 26px !important;
  border: none !important;
  position: relative;
  top: 13px;
}
.breadcrumb{
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 2px dotted lightblue;
  border-bottom: 2px solid #DDE9F2
  background: white;
}
.breadcrumb h1{
  margin: 10px;
}

/*   /////////// //// // ////////// //   */

.main_menu{
  margin-top: 142px;
  width:100%;
  color: white;
}
.bloques{
  margin-left: 20px;
}
.bloque_body{
  width: 310px;
    padding: 5px;
    float: left;
    margin-top: 45px;
    font-family: 'Open Sans';
    font-weight: 100;
}
.nombre_top_menu{
  position: fixed;
  padding-bottom: 5px;
  width: 323px;
  z-index: 1;
}
.nombre_top_menu h2{
    font-size: 18px !important;
    color: white;
  }
.nombre_top_menu a:hover,{text-decoration: none !important;}

/*
.nombre_top_menu h4{
  margin-top: 20px !important;
  color:white !important;
}
.nombre_top_menu a:hover{
  text-decoration: none !important;
}
/* /////////////////////////////////////////////////////////////////////    */


.modulo_contenido{
  position: relative;
  margin-right: 50px;
  float: left;
  padding: 10px;
}
.modulo_item{
  float: left;
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px;
    opacity: 1;
 /* Permite trabajar los paddin a partir de ancho maximo establecido 
    osea que si el ancho es de 900px si aplico paddin no se sumará sino que se aplica en base a 900px */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    /* Impido Seleccionar en este Div */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;

    /* Esto es una transicion para que el :hover no sea tan crudo */ 
    -webkit-transition-property: all;
       -moz-transition-property: all;
        -ms-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;     
}
.modulo_item:hover{
  z-index: 10;
    border: 3px solid rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);          
}
.modulo_item a, a:hover{
  color: #fff;
  text-decoration: none;
}
.item_menu:hover{
  z-index: 10;
    border: 3px solid rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
}
.item4x2{
  width: 290px;
  height: 140px;
}
.item2x2{
  width: 140px;
  height: 140px;
}
.item1x1{
  width: 65px;
  height: 65px;
}
.item_menu{
  width: 40px;
  height: 40px;
  float: left;
  display: table; 
  margin-right: 10px;

    -webkit-transition-property: all;
       -moz-transition-property: all;
        -ms-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;  
}
.menu{
  margin-top: 10px;
}
.menu span{
  display: table-cell;
    height: 40px;
    width: 260px;
    font-size: 15px;
}
.icomenu{
  width: 40px;
  height: 40px;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 30px !important;
}
.icomenu img{
  width: 40px;
  height: 40px;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}

.item_contenido{
/*  width: 290px;
    height: 140px;
*/
}
.full{
  width: 900px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.medio{
  width: 300px;
   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.modulo_nombre{
  height: 140px;
  top: 0px;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: 75px !important;
}
.modulo_nombre > span{
  display: block;
  position: absolute;
    bottom: 3px;
    left: 5px;
    right: 0px;
    font-size: 0.8em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/* CLASES COLORES  */
                          
.item_color1{
  background: -webkit-linear-gradient(left, #0075c7, #1B99F0); /* Chrome, Safari, Android, iOs */
  background: -o-linear-gradient(left, #0075c7, #1B99F0); /* Opera */
  background: -ms-linear-gradient(left, #0075c7, #1B99F0); /* Internet Explorer */
    background: -moz-linear-gradient(left, #0075c7, #1B99F0); /* Firefox */
    background: linear-gradient(left, #0075c7, #1B99F0); /* Chrome, Safari, Android, iOs */
}
.item_color2{
  background: -webkit-linear-gradient(left, #0A6F42, #0D9352); 
  background: -o-linear-gradient(left, #0A6F42, #0D9352); 
  background: -ms-linear-gradient(left, #0A6F42, #0D9352); 
    background: -moz-linear-gradient(left, #0A6F42, #0D9352); 
    background: linear-gradient(left, #0A6F42, #0D9352); 
}
.item_color3{
  background: -webkit-linear-gradient(left, #AB7524, #DD9D39); 
  background: -o-linear-gradient(left, #AB7524, #DD9D39); 
  background: -ms-linear-gradient(left, #AB7524, #DD9D39); 
    background: -moz-linear-gradient(left, #AB7524, #DD9D39); 
    background: linear-gradient(left, #AB7524, #DD9D39);    
}
.item_color4{
  background: -webkit-linear-gradient(left, #09A7CD, #00c1f2); 
  background: -o-linear-gradient(left, #09A7CD, #00c1f2); 
  background: -ms-linear-gradient(left, #09A7CD, #00c1f2); 
    background: -moz-linear-gradient(left, #09A7CD, #00c1f2); 
    background: linear-gradient(left, #09A7CD, #00c1f2);        
}
.item_color5{
  background: -webkit-linear-gradient(left, #5133ab, #5F3FCF); 
  background: -o-linear-gradient(left, #5133ab, #5F3FCF); 
  background: -ms-linear-gradient(left, #5133ab, #5F3FCF); 
    background: -moz-linear-gradient(left, #5133ab, #5F3FCF); 
    background: linear-gradient(left, #5133ab, #5F3FCF);    
}
.item_color6{
  background: -webkit-linear-gradient(left, #7DA8B3, #8FC2D2); 
  background: -o-linear-gradient(left, #7DA8B3, #8FC2D2); 
  background: -ms-linear-gradient(left, #7DA8B3, #8FC2D2); 
    background: -moz-linear-gradient(left, #7DA8B3, #8FC2D2); 
    background: linear-gradient(left, #7DA8B3, #8FC2D2);    
}
.item_color7{
  background: -webkit-linear-gradient(left, #92418d, #AD55A9); 
  background: -o-linear-gradient(left, #92418d, #AD55A9); 
  background: -ms-linear-gradient(left, #92418d, #AD55A9); 
    background: -moz-linear-gradient(left, #92418d, #AD55A9); 
    background: linear-gradient(left, #92418d, #AD55A9);    
}
.item_color8{
  background: -webkit-linear-gradient(left, #bd1e4a, #DA3465); 
  background: -o-linear-gradient(left, #bd1e4a, #DA3465); 
  background: -ms-linear-gradient(left, #bd1e4a, #DA3465); 
    background: -moz-linear-gradient(left, #bd1e4a, #DA3465); 
    background: linear-gradient(left, #bd1e4a, #DA3465);    
}
.item_color9{
  background: -webkit-linear-gradient(left, #00859b, #099CBA); 
  background: -o-linear-gradient(left, #00859b, #099CBA); 
  background: -ms-linear-gradient(left, #00859b, #099CBA); 
    background: -moz-linear-gradient(left, #00859b, #099CBA); 
    background: linear-gradient(left, #00859b, #099CBA);      
}
.item_color10{
  background: -webkit-linear-gradient(left, #0566a9, #099CBA); 
  background: -o-linear-gradient(left, #0566a9, #099CBA); 
  background: -ms-linear-gradient(left, #0566a9, #099CBA); 
    background: -moz-linear-gradient(left, #0566a9, #099CBA); 
    background: linear-gradient(left, #0566a9, #099CBA);      
}
.item_color11{
  background: -webkit-linear-gradient(left, #db552d, #ED714C); 
  background: -o-linear-gradient(left, #db552d, #ED714C); 
  background: -ms-linear-gradient(left, #db552d, #ED714C); 
    background: -moz-linear-gradient(left, #db552d, #ED714C); 
    background: linear-gradient(left, #db552d, #ED714C);    
}
.item_color12{
  background: -webkit-linear-gradient(left, #0566a9, #1075BD); 
  background: -o-linear-gradient(left, #0566a9, #1075BD); 
  background: -ms-linear-gradient(left, #0566a9, #1075BD); 
    background: -moz-linear-gradient(left, #0566a9, #1075BD); 
    background: linear-gradient(left, #0566a9, #1075BD);    
}
.item_color13{
  background: -webkit-linear-gradient(left, #8e0096, #B122C2); 
  background: -o-linear-gradient(left, #8e0096, #B122C2); 
  background: -ms-linear-gradient(left, #8e0096, #B122C2); 
    background: -moz-linear-gradient(left, #8e0096, #B122C2); 
    background: linear-gradient(left, #8e0096, #B122C2);    
}
.item_color14{
  background: -webkit-linear-gradient(left, #8e0072, #B122C1); 
  background: -o-linear-gradient(left, #8e0072, #B122C1); 
  background: -ms-linear-gradient(left, #8e0072, #B122C1); 
    background: -moz-linear-gradient(left, #8e0072, #B122C1); 
    background: linear-gradient(left, #8e0072, #B122C1);    
}
.menuleft{
  width:300px;
  margin-top: 60px;
  max-height: 650px;
  background:#003C74;
  position: absolute;
  overflow: auto;
  z-index: 1;
  height:100%;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.menuleft .nombre_top_menu{
  width: 300px;
  margin-top: -60px;
  background: #0858A1;
}
.nombre_top_menu img{margin-right: 5px;}
.menuleft h2{margin-top: 22px !important;}
.menuleft img{margin-right: 5px !important;}

/*  /////////////// */
.main_data{
  min-height: 700px;
  margin-top: 10px;
  border-radius: 2px;
  border-left: 1px solid #e7e7e7;
  background: #F1F1F1;
  margin-left: 300px;  
}
.data{
    background: #f9fbfc;
    position: relative;
}
.data:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 40;
  border-width: 0 11px 12px 0;
  /* border-style: solid; */
  border-color: #a9bcd2 #003C74 #a9bcd2 #a9bcd2;
  background: transparent;
  display: block;
  width: 0;
}
.data_header {
  position: relative;
  padding: 10px 15px;
  border-bottom: 0;
  background-color: #FCF9EC;
}
.data_body {
  padding: 15px;
  position: relative;
  overflow: hidden;
  border: 1px solid #dfe6ee;
}
h5.data_titulo {
  font-size: 18px;
  font-weight: 600;
  color: #2b5c93;
  margin: 0;
  display: inline;;
}
.col{
  padding: 0;
  float: left;
  margin-right: 22px;
}
.col:last-child{
  margin-right: 0px !important;
}
.col-fs{
  padding: 0;
  float: left;
  margin-right: 0px;
  width: 145px;
}
.col-4col{
  margin-right: 42px;
}
.col-3col{
  margin-right: 70px;
}
.col:last-child, .col-3col:last-child, .col-4col:last-child{
  margin-right: 0px !important;
}
.textarea-2col {
  width: 402px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  height: 161px;
  padding: 10px;
}
.area240-1row{
  width: 100%;
  max-width: 240px;
  height: 100px;
  padding: 8px;
  max-height: 100px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.area240-2row{
  width: 100%;
  max-width: 240px;
  height: 100px;
  padding: 8px;
  max-height: 100px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.area240-4row{
  width: 100%;
  max-width: 240px;
  height: 200px;
  padding: 8px;
  max-height: 200px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.adjuntar-default {
  width: 100px;
  height: 30px;
  padding: 5px;  
  color: #fff;
  font-size: 14px;
  border: 1px solid #d5d6e2;   
  background: #71b783 url(../images/ic_folderupload.png);
  background-repeat: no-repeat;
  background-position: 7px 5px;
  padding-left: 30px;
}

.adjuntar-default:hover {
  -webkit-transition: 0.5s;
  background: #97d3a7 url(../images/ic_folderupload.png);
  background-repeat: no-repeat;
  background-position: 7px 5px;
}

.font-default{
  font-family: inherit;
  font-size: 14px;
  vertical-align: middle;
}

.div6col{
  padding: 0;
  float: left;
  margin-right: 10px;
}

.checkbox-default {
  heigth:10px;
}

.div-table{
  float: left;
  margin-right: 15px;
}

.div-table-in{
  height: 30px;
  padding-top: 5px;
  margin-left: 5px;
}
.fl{
  float: left !important;
}
.fr{
  float: right !important;
}
.top-block{
  padding: 10px 0 20px 0;
  margin-top: -10px;
}
label{
  display: block !important;
  font-size: 14px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-weight: normal !important;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}
.table_heading {
  background: none;
  color: #5A5A5A;
  font-weight: 800;
}
tr.table_heading th:last-child{
  text-align: center;
}
.botones_nev{
  margin-bottom: 8px;
  margin-top: -7px;
}
.btn-nuevo {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding-left: 30px !important;
  padding-right: 12px !important;
}
.btn-nuevo:hover,
.btn-nuevo:focus,
.btn-nuevo:active,
.btn-nuevo.active,
.open > .dropdown-toggle.btn-nuevo {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-editar {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  padding-left: 30px !important;
  padding-right: 12px !important;
}
.btn-editar:hover,
.btn-editar:focus,
.btn-editar:active,
.btn-editar.active,
.open > .dropdown-toggle.btn-editar {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-visualizar {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  padding-left: 30px !important;
  padding-right: 12px !important;
}
.btn-visualizar:hover,
.btn-visualizar:focus,
.btn-visualizar:active,
.btn-visualizar.active,
.open > .dropdown-toggle.btn-visualizar {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-top-div{
  margin: -5px 0px 15px 0;
}
.btn-agregar {
  color: #fff;
  background-color: #6ac465;
  border-color: #4cae4c;
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-agregar:hover {
  color: #fff;
  background-color: #65b760;
  border-color: #62ae5d;
}
.btn-agregar:active {
  color: #fff;
  background-color: #0bd400;
  border-color: #62ae5d;
}
.btn-editar2 {
  color: #fff;
  background-color: #8ba6bf;
  border-color: #8ba6bf;
  display: inline-block;
  padding: 5px 4px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-editar2:hover {
  color: #fff;
  background-color: #829cb4;
  border-color: #748da4;
}
.btn-editar2:active {
  color: #fff;
  background-color: #3473ae;
  border-color: #748da4;
}
.btn-borrar {
  color: #fff;
  background-color: #da7e6e;
  border-color: #4cae4c;
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-borrar:hover {
  color: #fff;
  background-color: #c06c5d;
  border-color: #b16153;
}
.btn-borrar:active {
  color: #fff;
  background-color: #c01e02;
  border-color: #b16153;
}

/* ICONOS BOTONES */
.ic_mas{
  background-image: url("../images/ic_btn_nuevo.png") !important;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
}
.ic_lapiz{
  background-image: url("../images/ic_lapiz.png") !important;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
}
.ic_monitor{
  background-image: url("../images/ic_monitor.png") !important;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
}
/* FIN ICONOS BOTONES */

.estado {
  font-size: 10px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.Activo {
  background-color: #46A546;
  padding: 4px 10px 4px 10px;
}
.Inactivo {
  background-color: #B5B3B3;
  padding: 5px;
}
.select-default {
  width: 184px;
  background: #fff url(../images/ic_selectdown.png);
  background-position: 154px center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 6px;
  font-size: 15px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.select-140 {
  width: 140px;
  background: #fff url(../images/ic_selectdown.png);
  background-position: 111px center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 6px;
  font-size: 15px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.text-default{
  width: 184px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
}
.text-140{
  width: 140px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
}
.text-150{
  width: 150px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
}
.text-210{
  width: 210px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
}
.img-lgs{
  width: 175px;
  height: 185px;
  border-radius: 5px;
  text-align: center;
  background: #f8f9fe;
  padding: 15px;
  margin-bottom: 10px;
}
.img-lgs img.fperfil{
  border-radius: 5px;
  width: 175px;
  height: 185px;
  padding:0 !important;
  margin: -15px;
}
.img-partidop{
  width: 175px;
  height: 185px;
  border-radius: 5px;
  text-align: left !important;
  float: right;
}
.img-partidop {
  width: 175px;
  height: 185px;
  border-radius: 5px;
  text-align: center;
  float: right;
}
.btn-fotoperfil {
  width: 175px;
  height: 30px;
  padding: 5px;
  padding-left: 25px;
  background: #70d98e url(../images/ic_folderupload.png);
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #5FB879;
  background-repeat: no-repeat;
  background-position: 10px 5px;
}
.btn-huella {
  width: 175px;
  height: 30px;
  padding: 5px;
  padding-left: 25px;
  background: #d6c57f url(../images/ic_upload.png);
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #CAB974;
  background-repeat: no-repeat;
  background-position: 30px 5px;
}
.select-240 {
  width: 240px;
  background: #fff url(../images/ic_selectdown.png);
  background-position: 211px center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 6px;
  padding-right: 30px;
  font-size: 15px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.text-240{
  width: 240px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  height: 30px;
  padding: 10px;  
}
.sn{
  background-color: #F2F7FF;
  border: 1px dotted #B1B1B1;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: -23px;
}
fieldset.partidos-politicos label {
  display: inline !important;
  font-size: 14px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-weight: normal !important;
  margin-left: 5px;
}
fieldset.partidos-politicos input[type="radio"]{
  float: left;
  margin-bottom: 10px;
}
.ic_home {
  background: url(../images/ic_home.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;
}
.ic_iphone{
  background: url(../images/ic_iphone.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;  
}
.ic_tel1{
  background: url(../images/ic_tel1.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;  
}
.ic_fax{
  background: url(../images/ic_fax.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;  
}
.ic_iexplorer{
  background: url(../images/ic_iexplorer.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px; 
}
.ic_email{
  background: url(../images/ic_email.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px; 
}
.ic_facebook{
  background: url(../images/ic_facebook.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;
}
.ic_twitter{
  background: url(../images/ic_twitter.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;
}
.ic_linkedin{
  background: url(../images/ic_linkedin.png);
  background-repeat: no-repeat;
  background-position: 210px 2px;
  background-size: 25px;
}
.notification {
  float: right;
  padding: 7px;
  color: #888;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f4f4f4;
  margin-top: 17px;
  margin-right: -10px;
  border-radius: 2px;
}
.notif-total {
  position: relative;
  right: 2px;
  top: -13px;
  background-color: #EC472D;
  color: white;
  padding: 5px 7px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 1;
  opacity: 0.95;
}
.email-total{
  position: relative;
  right: 2px;
  top: -14px;
  background-color: #0B7C48;
  color: white;
  padding: 5px 7px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 1;
  opacity: 0.95;
}
.emails {
  width: 200px;
  height: 200px;
  background: red;
  display: none;
  position: relative;
  top: 65px;
  right: -31px;
  float: right;
  border-top: 3px solid transparent;
  border-top-color: #3498db;
}
.notificaciones {
  width: 200px;
  height: 200px;
  background: blue;
  display: none;
  position: relative;
  top: 65px;
  right: -31px;
  float: right;
  border-top: 3px solid transparent;
  border-top-color: #3498db;
}

.usrdiv ul li ul:after{
   content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  right: 11px;
  bottom: 100%;
  border-width: 0 10px 10px;
  border-bottom-color: #4a89dc;
}
.nav-tabs a{
  color:#428bca !important;
}
.email-list-ntf-main{
  color:#7f7f7f;
}
.email-list-ntf-main footer{
  font-size: 10px;
}
.email-list-ntf{
  margin: -5px 0;
  color: #7f7f7f;
  padding: 10px;
  padding-left: 0;
}
.newemail small{
  float: right;
  margin: -15px 0;
}
.newemail a{
  color: #3b5998 !important;
  cursor: pointer;
  text-decoration: none;
}
.email-list-ntfbody{
  width: 430px;
  max-height: 350px;
  overflow: auto;
}
.dropdown-user li:hover{
  background: #f0f0f0;
  cursor: pointer;
}
.img-mnt{
  width: 128px;
  margin: 15px 0;
  opacity: 0.1;
}
.mar-bottom20{
  margin-bottom: 20px !important;
}
.Mfooter{
  padding: 10px 0;
  font-size: 12px;
  border-bottom: 1px dotted #87AFD5 !important;

}
.footer{
  margin-left: 300px !important;
  color: #fff;
  margin: 0 0 0 300px !important;
}
.env-email{
  margin-left: 15px;
}
.img-data{
  padding: 0 15px;
  text-align: center;
}
.img-data img{
 width: 190px;
 opacity: 0.05;
}
.lbl-inline{
  display: inline !important;
  margin-right: 5px;
}
.topbar-btn{
  border: 1px solid #e5e5e5;
  padding: 8px 12px;
  height: 44px;
  background-color: #f7f7f7;
}
.hidemenu{
  width: 50px;
  height: 35px;
  border-right: 1px solid rgb(223, 223, 223);
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
}
.ui-datepicker-month, .ui-datepicker-year{
  color: #1c94c4;
}
.ui-datepicker{
  font-size: 12px !important;
}
.ui-datepicker-title select{
  font-size: 12px !important;
}
.fecha-240{
  width: 240px;
  background: #fff url(../images/ic_calendario3.png);
  background-position: 209px center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 6px;
  padding-right: 30px;
  font-size: 15px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.fecha-default{
  width: 184px;
  background: #fff url(../images/ic_calendario3.png);
  background-position: 154px center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 6px;
  font-size: 15px;
  border: 1px solid #cdcdda;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}